body {
    padding: 0;
    margin: 0;
}

header {
    background: #000;
    height: 10vh;
    width: 100vw;
    text-align: center;
    padding: 10px;
    position: fixed;
}
nav a {
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    margin: 0 10px;
}
.scrolling{
    color: #aec434;
}
.scrolling:hover{
    color: #000;
}

nav a:hover {
    color: #aec434;
}
main{
    height: 200vh;
}

footer {
    background: #444;
    height: 30vh;
}